#cssmenu{
    background-color: white;
    padding-top: 10px;
}

.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title>img{
    max-height: 70%;
    max-width: 70%;;
    padding-left: 15%
}

.name{
    font-weight: bold;
}



.dropbtn {
    background-color: #dddddd;
    color: black;
    padding: 16px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    cursor: pointer;
    text-decoration: none;    
  }

.dropbtn>a{
    text-decoration: none;
    color: black;
}


.dropdown{
    position: relative;
    display: inline-block;
}


.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a{
    padding:12px 16px;
    display:block;
    color: black;
    text-decoration: none;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover {
    background-color: #3e8e41;
}

#main{
    background-color:white; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main>h1{
    font-size-adjust:0.58;
}

.main body{
    background-color: white;
    
}

.carousel-active{
    background-color: white;
}
.vsep{
    
        float: left;
        display:block;
        padding: 8px;
        background-color: white;
        
        
    }
.vsep>a>img
    {
        width: 140px;
        height: 225px;
        object-fit:contain;
    }

.vsep  > .title > .narrow{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.vsep > .title > .discount{
    
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.vsep> .title > .discount > span{
    border-radius: 5px;
    background-color: red;
}


